###########################################
# UCF file for the Zedboard+ADAU1761 codec
#
# Engineer: Mike Field <hamster@snap.net.nz>
###########################################

NET writeComplete LOC = T22  |	IOSTANDARD=LVCMOS33; #LED 0

NET some_data[3] LOC = T21  |	IOSTANDARD=LVCMOS33; #LED 1
NET some_data[2] LOC = U22  |	IOSTANDARD=LVCMOS33; #LED 2
NET some_data[1] LOC = U21 |	IOSTANDARD=LVCMOS33; #LED 3
NET some_data[0] LOC = V22  |	IOSTANDARD=LVCMOS33; #LED 4

NET FFT_DONE LOC = W22	|	IOSTANDARD=LVCMOS33; #LED 5

NET LEDa		 LOC = U19 |	IOSTANDARD=LVCMOS33; #LED 6 #alphs
NET LEDb		 LOC = U14  |	IOSTANDARD=LVCMOS33; #LED 7 #zulu


NET CLK_100       LOC = Y9   | IOSTANDARD=LVCMOS33 | PERIOD = 10 ns;  # "GCLK"

NET AC_ADR0       LOC = AB1  | IOSTANDARD=LVCMOS33;
NET AC_ADR1       LOC = Y5   | IOSTANDARD=LVCMOS33;
NET AC_GPIO0      LOC = Y8   | IOSTANDARD=LVCMOS33;
NET AC_GPIO1      LOC = AA7  | IOSTANDARD=LVCMOS33;
NET AC_GPIO2      LOC = AA6  | IOSTANDARD=LVCMOS33;
NET AC_GPIO3      LOC = Y6   | IOSTANDARD=LVCMOS33;
NET AC_SCK        LOC = AB4  | IOSTANDARD=LVCMOS33;
NET AC_SDA        LOC = AB5  | IOSTANDARD=LVCMOS33; 
NET AC_MCLK       LOC = AB2  | IOSTANDARD=LVCMOS33; 

NET start_write	LOC = T18		|	IOSTANDARD=LVCMOS18;	#TOP BUTTON
NET start_read	   LOC = R18		|	IOSTANDARD=LVCMOS18;	#RIGHT BUTTON
NET rst         LOC = R16			| IOSTANDARD= LVCMOS18; #Bottom BUTTON


NET "readySignal" LOC = Y19  | IOSTANDARD = LVCMOS33; #JA1

NET "signalA"     LOC = Y11  | IOSTANDARD = LVCMOS33; #JA2

NET "signalB"     LOC = AA11 | IOSTANDARD = LVCMOS33; #JA3